<div id=title>Authenticate</div>
<form action=/auth method=post>
	<table class=bold>
		<tr><td>User</td><td><input type=text name=name></td></tr>
		<tr><td>Password</td><td><input type=password name=password></td></tr>
	</table>
	<input type=submit value='Login'>
</form>
