<div id=title>Authenticate</div>
<form action=/auth method=post>
	<table class=bold>
		<tr><td>User</td><td><input type=text name=user></td></tr>
		<tr><td>Passphrase</td><td><input type=password name=pass></td></tr>
	</table>
	<input type=submit value='Login'>
</form>
