<div id=title>First Config</div>

<form action=/first_config method=post>
	<table class=bold>
		<tr><td>Admin Password</td><td><input type=password name=admin_password></td></tr>
		<tr><td>First User</td><td><input type=text name=name></td></tr>
		<tr><td>First User Password</td><td><input type=password name=password></td></tr>
		<tr><td>First List</td><td><input type=text name=list></td></tr>
	</table>
	<br>
	<input type=submit value='Done'>
</form>
