<html>
	<head>
		<title>Coinquilini</title>
		<link rel=stylesheet href=/style.css type=text/css>
	</head>
	<body>
		<a href=/>Add Payment</a>
		<a href=/show>Show Payments</a>
		<div id=container>
			<%= yield %>
		</div>
	</body>
</html>

