<html>
	<head>
		<title>Coinquilini</title>
		<link rel=stylesheet href=/style.css type=text/css>
	</head>
	<body>
		<% if not session[:user].nil? %>
			<div id=menu>
			<a href=/>Add Payment</a> |
			<a href=/payments>Show Payments</a>

			<% if session[:user][:id] == 1 %>
				| <a href=/admin/new_user>Add an User</a> |
				<a href=/admin/new_list>Add a List</a>
			<% end %>

			| <a href=/logout>Logout</a>
			</div>
		<% end %>
		<div id=container>
			<%= yield %>
		</div>
	</body>
</html>

