<html>
	<head>
		<title>Coinquilini</title>
		<link rel=stylesheet href=/style.css type=text/css>
	</head>
	<body>
		<div id=container>

			<div id=header>
			<% if not session[:user].nil? %>
				<div id=menu>
				<a href=/>Add Payment</a> |
				<a href=/payments>Show Payments</a>

				<% if session[:user][:id] == 1 %>
					| <a href=/admin/new_user>Add an User</a> |
					<a href=/admin/new_list>Add a List</a>
				<% end %>

				| <a href=/logout>Logout</a>
				</div>

				<div id=ohhi>Oh, hi <%= session[:user][:name] %></div><br>
			<% end %>
			</div>

			<div id=body><%= yield %></div>
			<br>

			<div id=footer>Coinquilini, manage payments like a pro.<br>© Jibi 2013.</div>
		</div>
	</body>
</html>

