<html>
	<head>
		<title>Coinquilini</title>
		<link rel=stylesheet href=/style.css type=text/css>
	</head>
	<body>
		<div id=menu>
			<a href=/>Add Payment</a> | 
			<a href=/payments>Show Payments</a> | 
			<a href=/new_user>Add an User</a> | 
			<a href=/new_list>Add a List</a>
		</div>
		<div id=container>
			<%= yield %>
		</div>
	</body>
</html>

