<script type="text/javascript">
	document.getElementById("container").style.width = "800px";
</script>

<form>
	<select name=period><%= @list_erb[:period_list] %></select>
	<input type=submit value='Change period'>
</form>

<div id=title>Summary</div><br>
<table class=pay_table>
	<tr><th>Who</th><th>How much</th><th>Diff</th></tr>
	<%= @list_erb[:summary_table] %>
</table>
<br><br>

<div id=title>Payments</div><br>
<table class=pay_table>
	<tr><th>When</th><th>Who</th><th>What</th><th>How much</th></tr>
	<%= @list_erb[:payments_table] %>
</table>

<div id=title>Please pay me</div><br>
<table class=pay_table>
	<tr><th>Who</th><th>Need to pay</th><th>To</th></tr>
	<%= @list_erb[:payme_table] %>
</table>
</div>

