<h4>New User</h4>

<form class="form-horizontal" id="formNewList" role="form" action="/admin/new_user" method="post">

	<div class="form-group">
		<label for="inputUser" class="col-lg-2 control-label">User</label>
		<div class="col-lg-4">
			<input type="text" class="form-control" id="inputUser" name="user" placeholder="User">
		</div>
	</div>

	<div class="form-group">
		<label for="inputPassword" class="col-lg-2 control-label">Passsword</label>
		<div class="col-lg-4">
			<input type="text" class="form-control" id="inputPassword" name="password" placeholder="Password">
		</div>
	</div>

	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</div>

</form>

