<div id=title>New User</div>

<%= 'You need to specify at least one user' if @new_user_erb[:first] %>

<form action=/new_user method=post>
	User <input type=text name=who>
	<input type=submit value='Add'>
</form>
