<div id=title>New User</div>

<form action=/admin/new_user method=post>
	<table class=bold>
		<tr><td>User</td><td><input type=text name=name></td></tr>
		<tr><td>Passphrase</td><td><input type=password name=password></td></tr>
	</table>
	<input type=submit value='Add'>
</form>
