<div id=title>New Payment</div>

<form action=/ method=post>
	<table class=bold>
		<tr><td>List</td><td><select name=list><%= @pay_form_erb[:lists_list] %></select></td></tr>
		<tr><td>What</td><td><input type=text name=what></td></tr>
		<tr><td>How much</td><td><input type=text name=sum></td></tr>
	</table>
	<br>
	<input type=submit value='Save'>
</form>
