<div id=title>Nuovo pagamento</div>

<form action=/ method=post>
	<table class=bold>
		<tr><td>Chi</td><td><%= user_list %></td></tr>
		<tr><td>Cosa</td><td><input type=text name=what></td></tr>
		<tr><td>Quanto</td><td><input type=text name=how></td></tr>
	</table>
	<br>
	<input type=submit value='Salva pagamento'>
</form>
