<div id=title>New Payment</div>

<form action=/ method=post>
	<table class=bold>
		<tr><td>Who</td><td><%=

		list = '<select name=who>'
		Users.each do |u|
			list += "<option value='#{u[:id]}'>#{u[:name]}</option>"
		end
		list += '</select>'

		%></td></tr>
		<tr><td>What</td><td><input type=text name=what></td></tr>
		<tr><td>How much</td><td><input type=text name=how></td></tr>
	</table>
	<br>
	<input type=submit value='Save'>
</form>
